<div class="container-fluid">	
	<h1 class="h3 mb-2 text-gray-800">Liste des commits<span id="nom-branche-commits"></span></h1>

  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
    <i class="fas fa-fw fa-wrench"></i>
    <span>Branche</span>
  </a>


  <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded" id="list_branchs_commits"></div>
  </div>

  <div class="card shadow mb-4">
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Auteur</th>
						<th>Commentaire</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script src="custom_scripts/commits.js"></script>

