<style type="text/css" media="screen">
    #editor { 
        position: absolute;
        top: 75px;
        right: 0px;
        bottom: 100px;
        left: 15%;
    }
    #features {
        position: absolute;
        right: 0px;
        bottom: 20px;
        left: 15%;    
    }
</style>

<div id="editor">
</div>


<div id="features">
	<a href="#" class="btn btn-light btn-icon-split" id="cancel">
		<span class="icon text-gray-600">
		  <i class="fas fa-arrow-left"></i>
		</span>
		<span class="text">Annuler</span>
	</a>
	<a href="#" class="btn btn-light btn-icon-split" id="commitBtn">
		<span class="icon text-gray-600">
		  <i class="fas fa-arrow-right"></i>
		</span>
		<span class="text">Commit</span>
	</a>
  <input type="text" class="form-control bg-light border-0 small" placeholder="Description du commit..." aria-label="Search" aria-describedby="basic-addon2" id="commitDesc">	
</div>
<script src="ace/ace.js" type="text/javascript" charset="utf-8"></script>

