<!-- Begin Page Content -->
<div class="container-fluid">

  <h1 class="h3 mb-2 text-gray-800">Statistiques<span id="nom-branche-stats"></span></h1>

  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
    <i class="fas fa-fw fa-wrench"></i>
    <span>Branche</span>
  </a>
  <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded" id="list_branchs"></div>
  </div>


  <div class="row">

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Commits</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                <div id="nb-commits"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Branches</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                <div id="nb-branches"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Membres</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                    <div id="nb-membres"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Ratio Ajouts/Suppressions</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                <div id="ratio-add-del"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Contributions</h6>
        </div>
        <div class="card-body">
          <div class="chart-bar">
            <canvas id="contributions"></canvas>
          </div>
          <hr>
          Pointez sur un bâton pour consulter le nombre de commits d'un utilisateur.
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">
            <div id="nb-langages"></div>
          </h6>
        </div>
        <div class="card-body">
          <div class="chart-pie pt-4">
            <canvas id="langages"></canvas>
          </div>
          <hr>
          Pointez sur un langage pour afficher sa proportion.
        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">
            <div id="nb-additions"></div>
          </h6>
        </div>
        <div class="card-body">
          <div class="chart-bar">
            <canvas id="additions"></canvas>
          </div>
          <hr>
          Pointez sur un bâton pour consulter le nombre de lignes ajoutées par un utilisateur.
        </div>
      </div>
    </div>

    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">
            <div id="nb-deletions"></div>
          </h6>
        </div>
        <div class="card-body">
          <div class="chart-bar">
            <canvas id="deletions"></canvas>
          </div>
          <hr>
          Pointez sur un bâton pour consulter le nombre de lignes supprimées par un utilisateur.
        </div>
      </div>
    </div>
  </div>

</div>

<script src="vendor/chart.js/Chart.min.js"></script>
<script src="custom_scripts/stats.js"></script>